.slideinmenu {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
  z-index: 500;
}

.slideinmenu--open {
  transform: translateX(0);
}

.course {
  padding: 4px;
  transition: ease-in-out;
  transition-duration: 100ms;
  border-radius: 2px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}
.course:hover {
  padding: 4px;
  color: rgb(202 138 4);
}

.side {
  background-image: url("https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNvdXJzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}
