.introsection {
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.527)),
    url("https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBzdHVkZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  gap: 5px;
  border-radius: 15px;
}

.testimonial span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.582);
}

.testimonial .icon {
  color: rgba(0, 0, 0, 0.357);
}

.testimonial:hover span {
  transition: ease-in-out;
  transition-duration: 100ms;
}

.courses-grid-containerr {
  display: grid;
  grid-gap: 15px; /* Gap between grid items */
}

/* For small displays */
@media (max-width: 1023px) {
  .courses-grid-containerr {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .courses-grid-containerr {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .courses-grid-containerr {
    grid-template-columns: 1fr 1fr;
  }
}

/* For mobile displays */
@media (max-width: 480px) {
  .courses-grid-containerr {
    grid-template-columns: 1fr;
  }
}
.grid-itemm {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
}
